<div class="d-flex justify-content-center align-items-center min-vh-100">
  <form method="POST">
    <input type="text" id="item" name="item" placeholder="type any item" />
    <ul id="list">
      <li></li>
    </ul>
    <button type="submit">submit</button>
  </form>
</div>
<script>

</script>