<div class="d-flex justify-content-center align-items-center min-vh-100">
  <form class="w-50" action="/email" method="post">
    <div class="mb-3">
      <label for="address" class="form-label">From</label>
      <input type="email" class="form-control" id="address" name="address" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">to</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">subject</label>
      <input type="text" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">message</label>
      <textarea class="form-control" id="exampleInputPassword"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>